.vscode
Lab_2/base/backup
Lab_2/base/source
Lab_2/base/directory-info.last
Lab_2/bonus/backup
Lab_2/bonus/directory-info.last
Lab_2/bonus/source
Lab_2/bonus/crontab
Lab_3/y.tab.h
Lab_3/examples
Lab_3/command.o
Lab_3/y.tab.o
Lab_3/y.tab.c
Lab_3/shell
Lab_3/lex.yy.o
Lab_3/lex.yy.c
Lab_3/examples
Lab_3/testing
Lab_3/in
Lab_3/out
Lab_3/out2
Lab_3/log.txt